@import url(../globalStyle.css);

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 65vw;
}

.apresentation {
    width: 35vw;
    background-color: var(--background-black);
    color: var(--text-white);
}

.center-content {
    height: auto;
    width: 80%;
    display: flex;
}